* {
  font-family: "Satoshi", sans-serif;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}
/****Footer****/
footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 83, 134);
}
/*************container newsletter et form**************/
.footer-newsletter {

  padding: 0 5% 0;
  height: 570px;
  background-size: cover;
  background-image: linear-gradient(
      rgba(30, 83, 134, 0.75),
      rgba(30, 83, 134, 0.75)
    ),
    url("./img/nature-footer.jpg");
}
.footer-form {
  display: flex;
  flex-direction: column;
  padding: 0 5% 0;
  margin-bottom: 30px;
}
/*****texte footer********/
/*align text*/
.footer-newsletter h2,
.footer-newsletter p {
  text-align: left;
}
.footer-form h2,
.footer-form p {
  text-align: center;
}
/*font-size*/
.footer-newsletter h2,
.footer-form h2 {
  font-size: 1.9em;
}
.footer-newsletter form p,
.footer-form p {
  font-size: 1.1em;
}
.footer-newsletter form p, .p-resp {
  font-size: 0.8em;
}
.p-resp{
  display: none;
}
/*others*/
.footer-newsletter p {
  margin-bottom: 30px;
}

/*******input area*******/
.footer-newsletter form input:first-of-type {
  margin-bottom: 0;
}
.footer-newsletter form input:first-of-type,
.footer-form input:nth-of-type(1),
.footer-form input:nth-of-type(2),
.footer-form input:nth-of-type(3),
.footer-form input:nth-of-type(4),
.footer-form input:nth-of-type(5),
.footer-form select,
.footer-form textarea {
  border: 2px solid white;
  outline: none;
  height: 70px;
  width: 90%;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 5%;
  margin-bottom: 5%;
  font-size: 1.2em;
}
/*list déroulante*/
.footer-form select {
  width: 96.6%;
}
/*area message*/
.footer-form textarea {
  height: 200px;
  padding-top: 5%;
  border-radius: 35px;
}
/*placeholder text opacity*/
.footer-newsletter form input:nth-of-type(1)::placeholder,
.footer-form input::placeholder,
.footer-form textarea::placeholder {
  opacity: 1;
}

/**submit button***/
.footer-newsletter form input:nth-of-type(2),
.footer-form input:nth-of-type(6) {
  outline: none;
  border: 2px solid #d8261a;
  height: 50px;
  border-radius: 50px;
  width: 125px;
  background-color: #d8261a;
  font-size: 1em;
}
/*hover submit button*/
.footer-newsletter form input:nth-of-type(2):hover,
.footer-form input:nth-of-type(6):hover {
  background-color: rgba(216, 38, 26, 0.8);
}

/**footer info**/
.footer-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.footer-info hr{
    border: none;
    width: 90%;
    background-color: white;
    height: 2px;
}
.footer-info h2, .footer-info p{
    padding-left: 5%;
}
.footer-info p{
    margin:0;
    margin-bottom: 5px;
}
.footer-info ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 5%;
}
.footer-info ul li {
    list-style: none;
    padding-bottom: 5%;
}
.footer-info ul li a{
    text-decoration: none;
}
/*social media*/
.footer-info div{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin: 5% 0 5%;
}
/*img social media*/
.footer-info div img{
    height: 40px;
}

@media (min-width: 480px) {

}

/************AFFICHAGE Tablette****************/
@media (min-width: 767px) {
  .p-resp{
    display: block;
    text-align: left;
  }
  .footer-newsletter h2 br, .footer-newsletter form p{
    display: none;
  }
  .footer-newsletter h2,
  .p-newsletter {
    text-align: center;
  }
 
  .footer-newsletter form{
    display: flex;
    
    width:100%;
  }
  .footer-newsletter form input:first-of-type, .footer-newsletter form input:nth-of-type(2){
    height: 60px;
    margin: 0;
  }
  .footer-newsletter form input:first-of-type{
    margin-right: 3%;
  }
  .footer-newsletter form input:nth-of-type(2){
    width: 150px;
  }

}

/*********AFFICHAGE Tablette/ PC Portable*******/
@media (min-width: 991px) {
}

/************AFFICHAGE PC Portable/PC petit***********/
@media (min-width: 1200px) {
}

/************AFFICHAGE PC moyen***********/
@media (min-width: 1400px) {
}

/************AFFICHAGE PC grand***********/
@media (min-width: 1600px) {
}