* {
  list-style: none;
  text-decoration: none;
  font-family: "Satoshi", Sans-Serif;
}
body {
  overflow-x: hidden;
  margin: 0;
}


.navbar {
  position: fixed;
  display: flex;
  background-color: #fff;
  border-radius: 18px;
  width: 93%;
  max-height: 100px;
  align-items: center;
  top: 20px;
  margin-bottom: 20px;
  z-index: 9999;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(28, 83, 134, 0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(28, 83, 134, 0.25);
  box-shadow: 0px 5px 5px 0px rgba(28, 83, 134, 0.25);
}
#logo {
  height: 4em;
}
#h1navbar {
  color: #015579;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  min-width: 130px;
}
#menu-icon {
  position: absolute;
  top: 29%;
  left: 86%;
}
#menu-toggle {
  display: none;
}
/* Styles pour l'icône du menu burger */
#menu-icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.menu {
  display: none;
  position: relative;
  min-height: 250px;
  min-width: 200px;
  width: 200px;
  right: 170px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(28, 83, 134, 0.5);
  -moz-box-shadow: 0px 10px 5px 0px rgba(28, 83, 134, 0.5);
  box-shadow: 0px 10px 5px 0px rgba(28, 83, 134, 0.5);
}

.menu ul {
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
}
.menu li a {
  padding: 8px;
  color: #1c5386;
}

.menu li a:hover {
  padding: 8px;
  color: #1c5386;
  text-decoration: underline;
}

/* Styles pour afficher le menu lorsque la case est cochée */
#menu-toggle:checked + .menu {
  display: block;
}

#newsletter {
  padding: 9px;
  font-size: 1em;
  background-color: rgba(216, 38, 26, 1);
  border-radius: 24px;
  border: 4px solid rgba(216, 38, 26, 1);
  position: absolute;
  top: 76%;
}

#newsletter:hover {
  padding: 10px;
}

#grandenav {
  max-width: 100%;
  max-height: 100%;
  display: flex;
}
#grandul {
  display: none;
  color: #015579;
  width: 70vw;
}
.grandli {
  margin: 0 auto;
}
#responsive-menu {
  position: absolute;
  top: 32%;
  left: 103%;
}

#grandbnt {
  padding: 9px;
  font-size: 0.8em;
  background-color: rgba(216, 38, 26, 1);
  border-radius: 24px;
  border: 4px solid rgba(216, 38, 26, 1);
  box-shadow: 3px 4px 12px #444444;
}

.ColorLink {
  color: #015579
}

@media (min-width: 300px) {
}

/************AFFICHAGE Tablette****************/

@media (min-width: 767px) {
  #menu-icon > img {
    display: none;
  }

  .menu {
    visibility: hidden;
  }

  .navbar {
    justify-content: left;
    align-items: center;
  }

  #grandenav {
    display: block;
  }
}

.logotitre {
  display: flex;
  align-items: center;
}

/*********AFFICHAGE Tablette/ PC Portable*******/

@media (min-width: 768px) {
  #grandul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

/************AFFICHAGE PC Portable/PC petit***********/

@media (min-width: 999px) {
}

/************AFFICHAGE PC moyen***********/

@media (min-width: 1400px) {
}

/************AFFICHAGE PC grand***********/

@media (min-width: 1600px) {
}
