/* Map Leaflet */
.MapContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

#mapid{
 height: 15em;
 width: 25em;
 margin-top: 5%;
}

/************AFFICHAGE Tablette****************/

@media (min-width: 767px) {
    #mapid{
        height: 30em;
        width: 40em;
        margin-top: 5%;
       }
    
 }

/*********AFFICHAGE Tablette/ PC Portable*******/

@media (min-width: 991px) {

}

/************AFFICHAGE PC Portable/PC petit***********/

@media (min-width: 1200px) {
    #mapid{
        height: 45em;
        width: 60em;
        margin-top: 5%;
       }
    
}